
/* GLOBAL
******************************************************************************/

/* testing */
* {
    /* border: 1px solid #900; */
}

a {
	color: green;
}

/* HEADER
******************************************************************************/




/* CALENDAR
******************************************************************************/
.tribe-events-list-widget {
	background-color: #6d9f71;
}

.tribe-events-list-widget > .widget-title {
	color: #347458;
}

.tribe-events-list-widget > .tribe-event-title {
	color: #d7dbc8;
}


/* HERO
******************************************************************************/



/* SIDEBAR
******************************************************************************/



/* FRONT PAGE
******************************************************************************/



/* FOOTER
******************************************************************************/
