

/*

NOTES ON EDITING EVENT CALENDAR

Themers Guide > Customizing Styles
https://theeventscalendar.com/knowledgebase/themers-guide/#customizing-styles

Changing Fonts and Colors
https://theeventscalendar.com/knowledgebase/changing-fonts-and-colours/

Configuring the Events List Widget
https://theeventscalendar.com/knowledgebase/configuring-the-list-widget/

PHP Date Format
http://php.net/manual/en/function.date.php

 */



.tribe-events-list-widget {
	background-color: #6d9f71;
}

.tribe-events-list-widget > .widget-title {
	color: #347458;
}

.tribe-events-list-widget > .tribe-event-title {
	color: #d7dbc8;
}




.block-date {

}
.block-date .month {
	background-color: purple !important;
}
.block-date .day {
	background-color: red !important;
}